.affair{
    display: flex;
    align-items: baseline;
    width: 350px;
    justify-content: space-between;
}
.affair + .affair{
    margin-top: 5px;
}
.buttonsBox{
    margin: 15px 0px 0px 0px;
    width: 350px;
    justify-content: space-between;
    display: flex;
}
.btn{
    background-color: transparent;
    border: 1px solid #219421;
    padding: 5px;
    color: #219421;
    cursor: pointer;
    font-size: 16px;
    min-width: 80px;
}
.btn:hover,
.btnSm:hover{
    background-color: #219421;
    color: black;
    transition: all .5s ease-in-out;
}
.btn + .btn {
    margin-left: 10px;
}
.btnSm{
    background-color: transparent;
    border: 1px solid #219421;
    color: #219421;
    cursor: pointer;
    margin-left: 15px;
}
.priority{
    margin-left: 15px;
    width: 80px;
}
.title{
    width: 120px;
    font-weight: bold;
    margin-bottom: 15px;
}
